smelly/wcwidth-std.h linguist-generated=true
smelly/emoji.h linguist-generated=true
smelly/charsets.c linguist-generated=true
smelly/key_encoding.py linguist-generated=true
smelly/unicode-data.c linguist-generated=true
smelly/rgb.py linguist-generated=true
smelly/srgb_gamma.c linguist-generated=true
smelly/gl-wrapper.* linguist-generated=true
smelly/glfw-wrapper.* linguist-generated=true
smelly/parse-graphics-command.h linguist-generated=true
smelly/options/types.py linguist-generated=true
smelly/options/parse.py linguist-generated=true
smelly/options/to-c-generated.h linguist-generated=true
wellies/diff/options/types.py linguist-generated=true
wellies/diff/options/parse.py linguist-generated=true
glfw/*.c linguist-vendored=true
glfw/*.h linguist-vendored=true
wellies/unicode_input/names.h linguist-generated=true
tools/wcswidth/std.go linguist-generated=true

*.py  text diff=python
*.m  text diff=objc
*.go text diff=go
